.btn {
	display: inline-block;
	color: $white;
	font-family: $font-family--primary;
	font-weight: 700;
	font-size: em(14);
	line-height: 1.5em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	min-width: 200px;
	padding: 15px 50px;
	border-radius: $border-radius;
	background-color: rgba(52, 152, 219, 0.8);
	transition: background-color 500ms ease;

	&:hover {
		background-color: $color-blue;
	}
}