// ==========================================================================
// Global Variables
// ==========================================================================

// Font Stacks

$font-family--primary			: "Roboto", sans-serif;
$font-family--secondary			: "Roboto Condensed", sans-serif;

// Base Colors

$white							: #fff;
$black							: #333;

// Color Usage

$color-blue						: #3498db;

// Border Radius

$border-radius					: 3px;